<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ZlsoftRedirect</display-name>
  <description>智康条码付数据转发服务</description>
  <context-param>
    <description>智康条码付支付地址</description>
    <param-name>PayURL</param-name>
    <param-value>http://10.200.1.11:9081/pay-probe/fund/onePay</param-value>
  </context-param>
  <context-param>
    <description>智康条码付支付后查询地址</description>
    <param-name>PaySelectURL</param-name>
    <param-value>http://10.200.1.11:9081/pay-probe/fund/getOrderInfo</param-value>
  </context-param>
  <context-param>
    <description>智康条码付退款地址</description>
    <param-name>PayBackURL</param-name>
    <param-value>http://10.200.1.11:9081/pay-probe/refund/refunding</param-value>
  </context-param>
  <context-param>
    <description>智康条码付服务连接建立超时等待时间,毫秒</description>
    <param-name>ConnectTimeout</param-name>
    <param-value>10000</param-value>
  </context-param>
  <context-param>
    <description>智康条码付服务等待服务返回数据等待超时时间,毫秒</description>
    <param-name>SocketTimeout</param-name>
    <param-value>10000</param-value>
  </context-param>
  <context-param>
  	<description>智康条码付对账地址</description>
  	<param-name>ServiceAddress</param-name>
  	<param-value>http://192.168.2.148:8081/ZlsoftRedirect/WebService</param-value>
  </context-param>
  
  <listener>
    <description>校验智康交易地址</description>
    <display-name>ZhiCallInitLoad</display-name>
    <listener-class>com.zlsoft.barcode.payment.listeners.ZhiCallInitLoadListener</listener-class>
  </listener>
  <listener>
    <description>智康条码付对账WebService</description>
    <display-name>WebService</display-name>
    <listener-class>com.zlsoft.barcode.payment.listeners.WebServicePublishListener</listener-class>
  </listener>
  <listener>
    <description>数据库初始化连接</description>
    <display-name>DbService</display-name>
    <listener-class>com.zlsoft.barcode.payment.listeners.DbServListener</listener-class>
  </listener>
         
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>